<div class="row text-center">
    <div class="col-xs-12 col-md-6">
        <h1>Hello User</h1>
        <button class="btn btn-primary" (click)="getCountry()">Get Your Current Country</button>
        <div style="margin-top: 20px;">
            <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
        </div>
        <div class="thumbnail" style="border-color: white;">
            <img class="img-responsive" [src]="flag" style="max-height: 100px; border-radius: 10%; max-width: 100px;">
            <div class="caption text-center">
              <h2>{{country}}</h2>
              <h2 *ngIf="temp !==null">Your Country Temprature is : {{temp}}</h2>
              <button class="btn btn-primary" (click)="getNearestCapital()" *ngIf="temp !==null">Get Nearest cities from capital</button>
            </div>
          </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <router-outlet></router-outlet>
    </div>
</div>